*{
    font-family: 'Itim', cursive;
    font-size: 20px;
}
.img-logo{
    width: 100px;
    height: 30px;
    margin-right: 15px;
}
.img-carouel{
    height: 600px;
}
#bg{
    background-image: url("img/bg-img.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.img-list{
    height: 250px;
}
.footer{
    height: -100px;
}